
#contact {
    /* background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12); */
    background: #70e1f5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffd194, #70e1f5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width:100%;
    padding: 50px;
}


.col-md-4 p {
  color: grey;
  font-family: 'Roboto Slab', serif;
  letter-spacing: 4px;
  margin-right: 20px;
}
#title {
  color: black;
  font-family: 'Roboto Slab', serif;
  letter-spacing: 4px;
  text-shadow: -1px 0px 10px rgba(0, 0, 0, 1);
}
.form-control {
  font-family: 'Roboto Slab', serif;
  letter-spacing: 4px;
  margin: 0 !important;
}


/* input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
} */
    