    
    /* Full-width inputs */
    .signinForm{
      width: 300px;
      padding: 20px 20px;
      margin: 20px 20px 20px 0px;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }
    
    /* Set a style for all buttons */
    .signInButton {
      background-color: #4CAF50;
      color: white;
      margin-top: 10px;
      border: none;
      cursor: pointer;
      width: 100%;
    }

  
.signInText{
  margin-left: 20px;
}